/* === Tailwind Directives === */
@tailwind base;
@tailwind components;
@tailwind utilities;

.dock {
  @apply absolute right-1/2 translate-x-1/2 bottom-4 md:bottom-4 z-20;
  @apply p-1 rounded-full;

  @apply bg-white/60 dark:bg-neutral-800/60;
  @apply border border-neutral-200 dark:border-neutral-700/50;
  @apply backdrop-blur-lg;

  @apply flex gap-3 md:gap-4 md:hover:gap-5 items-center;

  @apply transition-all duration-500;
  /* @apply hover:scale-[102%]; */
}

@keyframes fadeInDock {
  from {
    opacity: 0;
    transform: translateX(50%) translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateX(50%) translateY(0);
  }
}

.dock-fade-in {
  animation: fadeInDock 0.5s ease-out backwards;
}

.dock-item {
  @apply relative grid flex-1 place-items-center;
  @apply rounded-full overflow-hidden;
  @apply px-3 md:px-5 py-1;
}

.dock-item-selected {
  @apply text-neutral-800 dark:text-neutral-100;
}

.dock-item-selected::before {
  content: '';
  @apply absolute inset-0 rounded-full bg-neutral-100 dark:bg-neutral-800 z-0;
  animation: pillFadeIn 500ms ease forwards;
}

@keyframes pillFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.75);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.dock-contact {
  @apply flex align-middle justify-center place-items-center rounded-full;
  @apply overflow-hidden;
  @apply transition-all duration-500 ease-in-out;
}

.dock-item-text {
  @apply relative flex w-fit text-base md:text-lg font-instrument transition-transform duration-300 ease-out;
  /* @apply text-neutral-500 dark:text-neutral-600; */
  pointer-events: none;
}

.contact-hover {
  @apply text-nowrap;
  @apply flex flex-1 gap-2 align-middle;
  @apply w-0 group-hover:w-32;
  @apply p-0 group-hover:px-5 group-hover:py-1;
  @apply bg-[#8BFA4A] text-black;
  @apply transition-all duration-500 ease-in-out;
  @apply overflow-hidden;
}

.contact-default {
  @apply text-nowrap;
  @apply w-[7.5rem] group-hover:w-0;
  @apply px-5 py-1 group-hover:p-0;
  @apply bg-[#8BFA4A] md:bg-neutral-100 md:dark:bg-neutral-900;
  @apply text-black md:text-inherit;
  @apply transition-all duration-500 ease-in-out;
  @apply overflow-hidden;
}
