.spotify-container {
  @apply flex flex-col gap-4 p-2 w-full h-fit 
         bg-neutral-100/20 dark:bg-neutral-900/50 
         border border-neutral-200 dark:border-neutral-900 
         rounded-md active:scale-95 
         transition-all duration-300;
}

.spotify-card {
  @apply flex flex-row gap-3 md:gap-4 p-0 w-full h-12 md:h-16  overflow-hidden
         dark:bg-neutral-900 bg-neutral-100 
         rounded-md;
}

.album-image {
  @apply object-cover h-full aspect-square rounded-md;
}

.album-image-playing {
  @apply object-cover h-full rounded-full;
}

.song-info {
  @apply flex flex-col justify-center h-full gap-0 max-w-full min-w-0;
}

.song-title {
  @apply text-sm md:text-lg overflow-hidden text-ellipsis whitespace-nowrap;
  min-width: 0;
}

.song-meta {
  @apply flex text-xs md:text-sm 
         text-neutral-400 dark:text-neutral-600 
         min-w-0 w-full overflow-hidden;
}

.song-meta-items {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
  min-width: 0;
}

.song-meta-separator {
  @apply flex-shrink-0;
}
/* Ensure the artist doesn't shrink */
.song-meta-items:first-child {
  @apply flex-shrink-0;
}

/* Allow album to shrink and truncate */
.song-meta-items:last-child {
  @apply truncate;
}

.controls {
  @apply flex align-middle pr-1 justify-between 
         w-full h-fit text-xs;
}

.play-label {
  @apply flex flex-row gap-1 items-center 
         text-neutral-400 dark:text-neutral-700 
         dark:md:group-hover:text-green-400 
         md:group-hover:text-green-600;
}

.spotify-icon-mobile {
  @apply w-3 grayscale opacity-20;
}

.spotify-icon-desktop {
  @apply w-0 group-hover:w-3 transition-all duration-300;
}

.play-icon {
  @apply fill-neutral-400 dark:fill-neutral-700;
}

.play-icon-mobile {
  @apply hidden;
}

.play-icon-desktop {
  @apply w-2 group-hover:w-0 transition-all duration-300;
}

.timestamp {
  @apply flex flex-row gap-2 items-center;
}

.play-bar {
  @apply w-full h-1 rounded-sm;
  @apply md:group-hover:h-2;
  @apply transition-all duration-300;
  @apply bg-neutral-100 dark:bg-neutral-900;
}

.play-bar-progress {
  @apply bg-green-400 h-full rounded-sm animate-pulse;
  transition: width 2s ease-in-out;
}
